/* styles.css */
body {
    display: grid;
    grid-template-columns: 250px auto;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.sidebar {
    height: 100vh;
    background-color: #f0f0f0;
    padding: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.main-content {
    padding: 1rem;
}

.section {
    display: none;
}

/* styles.css */
.skills-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 2rem;
}

.skills-table th,
.skills-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.skills-table th {
    background-color: #ccc;
    color: white;
    font-weight: bold;
}

.skills-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

